  <div class="aa-properties-item-img">
                  {{ fields.field_image_proprietes_.content }} 
                </div>
                 <div class="aa-tag for-sale">
                {{ fields.field_type_de_vente.content }} 
                </div>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span>{{ fields.field_pieces_de_maison.content }} </span>
                   
                  </div>
                  <div class="aa-properties-about">
                    <h3><a href="#">{{ fields.title.content }} </a></h3>
                    <p>{{ fields.body.content }} </p>                      
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      ${{ fields.field_prix.content }}
                    </span>
                    {{ fields.view_node.content }}
                  </div>
                </div>
             