
<div{{ attributes }}>
   {{ title_prefix }}
  <section id="aa-about-us">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-about-us-area">
            <div class="row">
              {% if label %}
  
  
                <h2{{ title_attributes }}>{{ label }}</h2>
    
              {% endif %}
              {{ title_suffix }}
              {% block content %}
                 {{ content }}
              {% endblock %}
           </div>
         </div> 
        </div> 
      </div> 
    </div>
  </section>
 </div>

