<img src="{{ fields.field_image_proprietes_.content|striptags }}" alt="img">
<!-- Top slider content -->
<div class="aa-top-slider-content">
  <span class="aa-top-slider-catg">{{ fields.field_type_de_vente.content }}</span>
  <h2 class="aa-top-slider-title">{{ fields.title.content|striptags|raw }}</h2>
  <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>South Beach, Miami (USA)</p>
  <span class="aa-top-slider-off">30% OFF</span>
  <p class="aa-top-slider-price">{{ fields.field_prix.content }}</p>
  <a href="{{ fields.view_node.content }}" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
</div>
<!-- / Top slider content -->
